<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CcmWebServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ind1dvwww02.corp.osinet.biz/testdev_3_4_3-ws/ccmwebservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="CcmWebServiceSoap"
          contract="CCMSoapWebService.CcmWebServiceSoap" name="CcmWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>