<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="LMS.Connector.CCM.Helpers.IncomingOutgoingSOAPMessageInterceptExtension, LMS.Connector.CCM.dll" priority="0" group="High" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CcmWebServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ind1dvwww02.corp.osinet.biz/testdev_3_4_3-ws/ccmwebservice.asmx" binding="basicHttpBinding" bindingConfiguration="CcmWebServiceSoap" contract="CCMSoapWebService.CcmWebServiceSoap" name="CcmWebServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>